<!-- aboutPage.html -->
<section class="main-section">
    <article class="about-content">
        <h2>About Me</h2>
        <h1>Andrejs K (MrCargon)</h1>
        <div class="about-grid">
            <div class="about-info">
                <h3>Creative Developer & Designer</h3>
                <p class="subtitle"> Hi There! I am Dedicated and highly motivated, with a passion for mechatronics principles, 
                    software development, and game design. I'm developer and designer with digital experience in web development, 
                    3D modeling, and game development, I bring creative visions to life through code and 3D print design. 
                    I have Horticulture skills worked at parks . I like to learn and be better. 
                    Proven ability to quickly grasp and apply new knowledge , Developed in various programming languages, including C++, Python, GD Scripting language. 
                    Analyzed complex data structures and systems to identify areas for improvement, leading to increased efficiency and productivity. 
                    Maintained high levels of motivation and enthusiasm, even in demanding and fast-paced work environments.  </p>
                <div class="skills-section">
                    <h3>Skills & Expertise</h3>
                    <div class="skills-grid">
                        <div class="skill-category">
                            <h4>Web Development</h4>
                            <ul class="skill-list">
                                <li>JavaScript</li>
                                <li>React</li>
                                <li>Three.js</li>
                                <li>HTML/CSS</li>
                            </ul>
                        </div>
                        <div class="skill-category">
                            <h4>3D Modeling</h4>
                            <ul class="skill-list">
                                <li>Blender</li>
                                <li>Fusion360</li>
                                <li>Tinkercad</li>
                            </ul>
                        </div>
                        <div class="skill-category">
                            <h4>Game Development</h4>
                            <ul class="skill-list">
                                <li>Godot</li>
                                <li>Unity</li>
                                <li>Python</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>